.operation_order_stationary input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.order-accept-all{
    margin: 17px 22px 0;
    float: right;
}
.operation_title_right{
    color: red;
}