.parent_attachment ul li img{
    padding:0;
    width:150px;
    object-fit: cover;
}
.parent_sidebar_child{
    box-shadow: 0 0 7px #888888;
    margin-bottom: 20px;
}
.parent_dashboard_child{
    padding:10px 0;
}
.parent_dashboard_top_tile h3{
    margin-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.parent_dashboard_top_tile .message_top_tile{
    border-bottom: 3px lightgreen solid;
}
.parent_dashboard_top_tile .invoice_top_tile{
    border-bottom: 3px lightcoral solid;
}
.parent_dashboard_top_tile .announcement_top_tile{
    border-bottom: 3px lightskyblue solid;
}
.pointer-mouse{
    cursor: pointer;
}
.parent_report_coursename{
    /*color: #2dbbe8;*/
    text-align: center;
    font-size: 15px;
}
.parent_report_gradeDropdown{
    float: right;
    margin: 10px 0;
}
.dropdown-menu-content{
    min-width: 95px;
}
.parent .x_title h2{
    overflow: visible;
}
.offline .title,.offline .btn, .offline .btn-success:active:hover{
    background: rgba(243,156,18,.88);
}
.offline .btn, .online .btn{
    font-size: 25px;
}
.offline .btn, .offline .btn-success:active:hover{
    border: 1px solid rgba(243,156,18,.88);
}
.pricing .title{
    height: 85px;
}
.pricing .title h1 {
    margin: 5px;
}
.bank-transfer-section{
    border-top: 1px solid #ddd;
}
.payment-status .row{
    margin-top: 15px;
}
.payment-status .price{
    color: rgba(243,156,18,.88);
}
.payment-icon{
    text-align: center;
}
.payment-icon img{
    width: 15%;
}
.pricing_features{
    min-height: 95px;
}
.due-date{
    color: red;
    font-weight:bold;
}