.teacher_dashboard_today_schedule_container{
    /*overflow-x: scroll;*/
    border: 2px solid #e0e0e0;
}

.teacher_dashboard_today_schedule_table{
    table-layout: fixed;
    border: 2px solid #e0e0e0;
    min-height: 150px;
    width: 100%;
}

.teacher_dashboard_today_schedule_table th{
    /*min-width: 250px;*/
    text-align: center;
    border: 2px solid #e0e0e0;
}

.teacher_dashboard_today_schedule_period{
    background-color: #ffa63a;
    color: white;
}

.teacher_dashboard_today_schedule_break{
    background-color: #fe4972;
    color: white;
}

.teacher_dashboard_today_schedule_table td{
    padding: 1vw;
    border: 2px solid #e0e0e0;
    text-align: center;
}

.teacher_dashboard_deadline{
    color: #fe4972;
}

.teacher_dashboard_upcoming_type{
    float: right;
    background: #fe4972;
    color: white;
    padding: 0.3vw;
    font-weight: bold;
    border-radius: 5px;
}

.teacher_attendance_radio input[type="radio"] {
    display:none;
}

.teacher_attendance_radio label {
    display:inline-block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
    color: white;
}

.present:checked + label {
    background-color:#48b51b;
}

.absent:checked + label {
    background-color:#e61515;
}

.late:checked + label {
    background-color:#f9c91c;
}

.teacher_profile_crop{
    position: relative;
    width: 220px;
    height: 220px;
    overflow: hidden;
}

.teacher_profile_img{
    width: 220px;
    height: auto;
}

.teacher_profile_group{
    padding: 15px;
}

.teacher_profile_label{
    color: #919191;
    line-height: 30px;
}

.teacher_profile_value{
    color: black;
    font-size: 11pt;
}

.teacher_course_evaluation{
    width: 70%;
}

.teacher_course_evaluation th{
    padding: 10px;
    background-color: gainsboro;
}

.teacher_course_evaluation td{
    padding: 5px 10px 5px 10px;
    /*border-bottom: solid 1px gainsboro;*/
}

.teacher_course_implementation{
    width: 100%;
}

.teacher_course_implementation th{
    padding: 10px;
    background-color: gainsboro;
}

.teacher_course_implementation td{
    padding: 10px;
    /*border-bottom: solid 1px gainsboro;*/
}

.set-align-right{
    text-align: right;
}

.set-right{
    float: right;
}

.set-margin-left{
    margin-left: 15px;
}

.set-margin-right{
    margin-right: 15px;
}

.set-margin-top{
    margin-top: 10px;
}

.set-margin-top2{
    margin-top: 100px;
}

.set-margin-bottom{
    margin-bottom: 10px;
}

.set-center{
    text-align: center;
}

.btn-danger{
    background-color: #fe4972;
    color: white;
}

.btn-yellow{
    background-color: #ffa63a;
    color: white;
}

.btn-yellow:hover{
    background-color: #f38e14;
    color: white;
}

.teacher_photo_crop{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.teacher_photo_img{
    width: 100px;
    height: auto;
}

.teacher_course_student_mid{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.teacher_course_student_mid td{
    padding: 10px;
}

.teacher_course_student_mid_td{
    font-weight: bold;
    background-color: gainsboro;
    /*border: 1px solid white !important*/
}

.teacher_course_student_mid td input[type="radio"] {
    display:none;
}

.teacher_course_student_mid td label {
    background-color: #fff;
    border: 1px solid gainsboro;
    width: 15px;
    height: 15px;
}

.teacher_course_student_mid td input[type="radio"]:checked + label {
    background: url("../img/teacher/checkmark.png");
}

.option_tick{
    background: url("../img/teacher/checkmark.png");
    width: 15px;
    height: 15px;
    display: inline-block
}

textarea{
    resize: vertical;
}

@media print {
    .teacher_course_implementation th {
        background-color: gainsboro !important;
        -webkit-print-color-adjust: exact;
    }

    .option_tick{
        background: url("../img/teacher/checkmark.png") !important;
    }

    .teacher_course_student_mid .x_panel .col-md-12  {
        width: 100% !important;
    }

    .teacher_course_student_mid_td {
        background-color: gainsboro !important;
        width: 10% !important;
    }

    .print-size-td{
        width: 100% !important;
    }

    .print-size30{
        width: 30% !important;
    }

    .set-border-top{
        border-top: 1px solid black !important;
    }
}

.print-padding{
    padding: 10px 20px 0;
}

.date {
    background: #2c9609 !important;
    border-radius: 0 !important;
    padding: 6px !important;
}

.day{
    color: black !important;
    background: white;
    margin: 0px -4px -4px -4px !important;
}

.quizandassignment{
    background: #fe4972 !important;
}

.title_center{
    text-align: center;
}

.report-title{
    font-weight: bold;
    color: black;
    font-size: x-large;
}

.print-title{
    width: 100%;
    padding: 10px 0;
}

.set-bold{
    font-weight: bold;
}

.no-border{
    border-bottom: none !important;
    padding: 1px 30px 6px !important;
}

.font-h2{
    font-size: 18px;
}

.report2-title{
    font-weight: bold;
    color: black;
    font-size: xx-large;
}

.comment-table{
    width: 100%;
}

.comment-table textarea{
    border-color: black;
}

.print-name{
    font-size: large;
}

.set-border-top{
    border-top: 1px solid black;
}

input[type=checkbox] {
    display:none;
}

input[type=checkbox] + label, .worknotavailable
{
    background: red;
    height: 20px;
    width: 20px;
    display:inline-block;
    padding: 0 0 0 0px;
}
input[type=checkbox]:checked + label, .workavailable
{
    background: green;
    height: 20px;
    width: 20px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.teacher_sidebar_crop{
    position: relative;
    width: 57px;
    height: 57px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 15%;
    border-radius: 50%;
}

.teacher_sidebar_photo{
    width: 57px;
    height: auto;
    background: #fff;
    z-index: 1000;
    position: inherit;
    border: 1px solid rgba(52,73,94,0.44);
}

.x_content p img{
    width: 100%;
    height: 100%;
}

.conflict1{
    background-color: red !important;
}

.conflict2{
    background-color: orange !important;
}

.conflict3{
    background-color: darkgray !important;
}

.not-conflicted{
    background-color: green;
}

.dragging{
    background-color: blue;
    padding: 10px;
}